<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style>
		#ttt{
			list-style: none;
		}
		#ttt li{
			display: inline;

		}
		#ttt li a{
			padding: 10px;
			text-decoration: none;
			background: #0c5460;
			color: #ffffff;
		}
		.active{
			background: #0c5460 !important;
			color: red !important;
			padding: 10px !important;
		}
	</style>
</head>
<body>
<div id="app" class="container">
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Serial</th>
					<th scope="col">Name</th>
					<th scope="col">Price</th>
					<th scope="col">Action</th>
				</tr>
				</thead>
				<tbody>

				<tr v-for="(single, index) in payments">
					<th scope="row">{{index+1}}</th>
					<td>{{single.name}}</td>
					<td>{{single.amount}}</td>
					<td><button @click="removeItem(index)" class="btn btn-danger">X</button></td>
				</tr>

				<tr>
					<th scope="row"></th>
					<td>Total</td>
					<td>{{total}}</td>
					<td></td>
				</tr>

				</tbody>
			</table>
		</div>

		<div class="col-md-6 mt-5" >
			<form>
				<div class="row">
					<div class="col">
						<input type="text" v-model="name" class="form-control" placeholder="Name">
					</div>
					<div class="col">
						<input type="number" v-model="amount" min="amount" class="form-control" placeholder="100">
					</div>
					<div class="col">
						<button type="submit" @click.prevent="addItem" class="form-control btn btn-primary" >Add </button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>




<script>
const app = new Vue({
	el:"#app",
	data:{
		payments:[
			{name:"House Rent", amount:20000, paid: true},
			{name:"Electricity", amount:2000, paid: true},
			{name:"Gaz", amount:900, paid: true},
			{name:"Water", amount:300, paid: true},
			{name:"Net", amount:800, paid: true},
		],
		name:"",
		amount:0,
		paid:"false"
	},
	computed:{
		total(){
			var total = 0
			this.payments.forEach(single=>{
				total += parseFloat(single.amount)
			})
			return total
		}
	},
	methods:{
		removeItem(id){
			this.payments.splice(id, 1)
		},
		addItem(){
			this.payments.push({name:this.name, amount:this.amount, paid:this.paid})
			this.name = "",
			this.amount=0
		}
	}
})
</script>

</body>
</html>

